* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INDEX */
.global-header-container {
    background-color: #2f0404;
    
}


.global-header-media {
    position: relative;
    padding: 4px;
    right: 250px;
    display: flex;
    justify-content: flex-end;
}

.media {
    display: flex;
    height: 35px;
}
.icons {
    display: flex;
    font-size: 1.2rem;
    text-align: center;
    gap: 25px;
}

.icons a {
    color: white;
}

.global-header-media .media .icons a:hover {
    color: #a40404;
}

.separate {
    margin-top: -1px;
    border: 0,1px solid #660404;
    opacity: 60%;
    color: #660404;
    margin-bottom: 1px;
}

.buttoms_menu {
    background-color: #0f0f0f;
    padding-top: 15px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
}

.ulMain {
    display: flex;
    gap: 90px;
    padding-top: 4px;
}

.liMain {
    list-style: none;
}

.liMain a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.buttoms_menu .ulMain .liMain a:hover {
    color: #a40404;
}

.logocontainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    float: left;
    width: 4%;
    height: 72px;
    background-color: #0f0f0f;
}

.logo {
    width: 20%;
    height: 65px;
    position: absolute;
    
}

.global-header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {
    background-color: #0f0f0f;
}





.slider {
    background-color: #0f0f0f;
    padding-bottom: 35px;
}

 .slider__container {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    padding: 0px;
    margin-inline-start: 160px;
    
    
} 

 .slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #0f0f0f;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show {
    opacity: 1;
    pointer-events: unset;
}

.slider__img {
    
    height: 600px;
    object-fit: cover;
    
}

.slider__arrow {
    cursor: pointer;
    width: 20px;
    font-size: 20px;
}

.slider__arrow:nth-of-type(2) {
    justify-self: end;
} 



.sponsor {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.sponsors__img {
    width: 100%;
}


.sponsors_container {
    display: flex;
}

.sponsors  {
    position: absolute;
    display: flex;
    top: 80px;
    gap: 10px;
    left: 65px;
}

.imgsponsors {
    list-style: none;
}

.imgsponsors img:hover {
    transform: scale(1.15);
}


.videos {
    margin-top: 50px;
}

.videostext {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.h3text {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.hrbody {
    color: white;
    width: 1000px;
    margin: auto;
}

.videosyt {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 1760px;
    overflow: hidden;
    margin: auto;
}

.videosmedia_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    justify-items: center;
}

.videosmedia {
    border: rgba(47,4,4, 0.7) 8px solid;
}

.archievements {
    margin-top: 50px;
}

.archievementstext {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.archievements_container {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 40px;
}

.archievement_track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 10);
    -webkit-animation: scroll 30s linear infinite;
    gap: 140px;
}

.sliderarchievement {
    width: 200px;
}

.slidearchievement img {
    width: 140px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5))
    }
}

.players {
    display: flex;
    margin: 60px auto 20px;
}

.players_container {
    position: relative;
    overflow: hidden;
}

.button_container {
    margin: auto;
}

.button_container a {
    position: absolute;
    top: 550px;
    display: flex;
    left: 450px;
    height: 40px;
    width: 112px;
    
}

