* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INDEX */
.global-header-container {
    background-color: #2f0404;
    
}


.global-header-media {
    position: relative;
    padding: 4px;
    right: 250px;
    display: flex;
    justify-content: flex-end;
}

.media {
    display: flex;
    height: 35px;
}
.icons {
    display: flex;
    font-size: 1.2rem;
    text-align: center;
    gap: 25px;
}

.icons a {
    color: white;
}

.global-header-media .media .icons a:hover {
    color: #a40404;
}

.separate {
    margin-top: -1px;
    border: 0,1px solid #660404;
    opacity: 60%;
    color: #660404;
    margin-bottom: 1px;
}

.buttoms_menu {
    background-color: #0f0f0f;
    padding-top: 15px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
}

.ulMain {
    display: flex;
    gap: 90px;
    padding-top: 4px;
}

.liMain {
    list-style: none;
}

.liMain a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.buttoms_menu .ulMain .liMain a:hover {
    color: #a40404;
}

.logocontainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    float: left;
    width: 4%;
    height: 72px;
    background-color: #0f0f0f;
}

.logo {
    width: 20%;
    height: 65px;
    position: fixed;
    
}

.global-header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    width: 1500px;
    min-height: 80vh;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    background-color: #0f0f0f;
    
    
}

.slider__container {
    display: grid;
    grid-template-columns: 40px 1400px 40px;
    align-items: center;
    padding: 0px;
    margin-inline-start: 150px;
    
}

.slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #0f0f0f;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show {
    opacity: 1;
    pointer-events: unset;
}

.slider__img {
    width: 1400px;
    height: 600px;
    object-fit: cover;
    
}

.slider__arrow {
    cursor: pointer;
    width: 20px;
    font-size: 20px;
}

.slider__arrow:nth-of-type(2) {
    justify-self: end;
}

